@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background;
  }

  .dark {
    color-scheme: dark;
    --foreground: 0 0% 100%;
    --background: 240 10% 3.9%;
  }
}